- results.each do |r|
  - available =  r[:locations].select {|k,v| v == 'Available'}
  - out = r[:locations].select {|k,v| v == 'Out'}
  %li.result
    .title.cell= r[:title] 
    - if branch.nil? || branch.empty? 
      - unless available.empty?
        .available.locations.cell
          Available at: 
          %ul
            - available.each do |loc, status|
              %li #{loc} 
      - unless out.empty?
        .out.locations.cell
          Out at:
          %ul
            - out.each do |loc, status|
              %li #{loc} 
