%h1 Literate Minuteman
.book 
  %p Select which branches you'd like to see results from by default.
  %form{:method => "POST"}
    - branches.each_slice(branches.length / 3).each do |sublist|
      %div.branches-part
        - sublist.each do |branch|
          %input{:type => :checkbox, :checked => enabled.member?(branch), :name => branch}= branch
          %br
    %br{:style => 'clear:both'}
    %input{:type => "submit", :value => "Save"}
