%h1 Literate Minuteman
.book
  %h2 Now In Not At All Private Beta
  %p
    Literate Minuteman is a service to check your 
    %a{:href => 'www.goodreads.com'} Goodreads
    to-read list against the databases of the Massachusetts 
    %a{:href => 'http://www.mln.lib.ma.us/'} Minuteman Library Network
  %p
    Ready to get started? 
    %a{:href => '/signup'} Sign Up Now
  %p
    Already have an account?
    %a{:href => '/login'} Log In
