%h1 Literate Minuteman
.book.login
  %h2 Sign Up
  - if errors.any?
    - errors.each do |e|
      .error= e
  %form{:method => 'POST'}
    %label{:for => 'username'} Username (this will be your username here on Literate Minuteman):
    %input{:name => 'username'}
    %label{:for => 'password'} Password (make this different than your Goodreads password):
    %input{:name => 'password', :type => 'password'}
    %input{:type => 'submit', :value => 'Sign In To Goodreads With OAuth'}
