.book
  %p
    %b Literate Minuteman 
    is a service to check your 
    %a{:href => 'www.goodreads.com'} Goodreads
    to-read list against the databases of the Massachusetts 
    = succeed "." do
      = link_to('Minuteman Library Network', 'http://www.mln.lib.ma.us/')
    See when the books you want to read are available and where!
  %p
    Ready to get started? 
    %a{:href => '/signup'} Sign Up Now
  %p
    Already have an account?
    %a{:href => '/login'} Log In
