- copies = @user.locations.any? ? book.copies.at_location(@user.locations) : book.copies
- copies.group_by(&:title).each do |title, copies|
  - statuses = copies.group_by(&:status)
  
  %li.result
    .title.cell= title
    - statuses.each do |status, copies|
      .locations.cell{class: status.downcase.parameterize}
        #{status.titleize} at: 
        %ul
          - copies.each do |copy|
            %li 
              %b=copy.location.name 
              =copy.call_number
