.book-result
  - if book.image_url.present?
    .image.pull-left
      = image_tag book.image_url
  .data
    %h2.title
      = book[:title]
      %span.divider /
      = book[:author]
    %table.table.table-condensed
      %tr
        %th Title
        %th Status
        %th Location
        %th Call Number
        %th Synced At
      = render book.copies
