#filter-form

%form
  Filter Results
  .checkbox
    %label
      %input{type: "checkbox", "ng-model" => "onlyShowAvailableCopies"}
        Only show available copies

  .checkbox
    %label
      %input{type: "checkbox", "ng-model" => "onlyShowCopiesAtPreferredLocations"}
        Only books with copies at
        = link_to "my preferred locations", edit_user_path(@user)

  .select
    %label
      Show books at:
      %select.form-control{"ng-model" => "location"}
        %option{value: ''} All locations
        %option{"ng-repeat" => "location in available_locations | orderBy:'name'", "ng-value" => "location.name"} {{location.name}}
