.book
  = render :partial => 'books/books_header'
- @books.each do |book|
  .book.book-result
    %h2 
      = book[:title]
      %span.divider / 
      = book[:author]
    %ul.results
      = render :partial => "book", :locals => {:book => book}
