!!!
%html
  %head
    %title Literate Minuteman
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application' 
    = csrf_meta_tags
  - branch ||= nil
  %body{:class => branch ? 'branch' : 'main'}
    #wrap
      %a{href: '/'}
        %h1 Literate Minuteman
      = yield
      .book.footer
        Created by 
        %a{:href => 'http://zen-hacking.com/'} Thomas Mayfield
        |
        Code on 
        %a{:href => 'https://github.com/thegreatape/literate-minuteman'} Github
        | 
        It's effing broken? 
        %a{:href => 'https://github.com/thegreatape/literate-minuteman/issues'} File a bug
